# --- Python Specific ---
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
build/
dist/
*.egg-info/

# --- C# / .NET Specific ---
bin/
obj/
*.user
*.suo
*.shellstack
.vs/

# --- Simulation / AI Data ---
*.log
/data/training_results/
/models/*.pth
/models/*.h5
/models/*.onnx
